*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: whitesmoke;
}

/* Start Design Navbar */

.navbar-light{
    background: transparent;
}

.navbar-light .navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #363958;
}

.navbar-light .navbar-brand span{
    color: #FA804C;
}

#navbar-nav{
    margin-left: auto;
}


.navbar-light .navbar-nav .nav-link{
    color: #3C3C3C;
    margin: 0px 20px;
    transition: all 0.3s linear;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #FA804C;
}

.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}

.navbar-light .navbar-toggler{
    border: none;
    background: none;
}

/* End Design Nabvar */

/* Start Design Welcome Section */
header{
    background-color: #FFF9F4;   
}

.welcome-text{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

header .container .row{
    justify-content: space-evenly;
}

header .container .row .col{
    min-width: 270px;
    max-width: 400px;
}

.welcome-text h1{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-size: 50px;
    font-weight: bold;
    color: #363958;
}

.welcome-text .high-light{
    color: #FA804C;
}

.welcome-text p{
    color: #3E3E3E;
}

.btn{
    width: 130px;
    background: linear-gradient(#3D4FF3,#3543BC);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.btn img{
    width: 24px;
    padding-right: 5px;
}

.btn:hover{
    color: white;
}

/* Start Design Casual Section */
h1{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1;
    font-size: 45px;
    color: #363958;
}

.card-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    min-width: 300px;
    width: 28%;
    max-width: 400px;
    border-radius: 20px;
    box-shadow: 0px 3px 40px #cac6c6;
}

.card img{
    width: 100%;
    margin: 3px auto;
    background-color: #F1F1F1;
    border-radius: 20px;
}

.card h2{
    font-size: 20px;
    font-weight: bold;
    color: #363958;
    margin-top: 15px;
}

.card p{
    color: #3E3E3E;
}
.card div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.card span{
    font-size: 25px;
    font-weight: bold;
    color:#FA804C;
}
.card .btn img{
    background-color: transparent;
    width: 24px;
    padding-right: 5px;
}
/* End Design Casual Section */

/* Start Design Feature Section */
.feature-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgb(223, 220, 220);
}

.feature-card .feature-image{
    width: 78px;
}

.feature-card .feature-details h2{
    font-size: 24px;
    font-weight: bold;
    color: #363958;
}
.feature-card .feature-details p{
    font-size: 16px;
    color: #3E3E3E;
}

.for-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End Design Feature Section */


/* Start Design Conact Us Section */

.details{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.details h2{
    font-size: 36;
    font-weight: bold;
    color: #363958;
}

.details p{
    color:#3E3E3E;
}

.form input, .form textarea{
    width: 90%;
    margin: 15px 0px;
    padding-left: 10px;
    border: transparent;
    box-shadow: 0px 6px 30px rgb(221, 219, 219);
    border-radius: 10px;
}

.form input{
    height: 40px;
    padding-left: 10px;
    border: transparent;
}

.form textarea{
    height: 200px;
    resize: none;
    padding-top: 10px;
}

.form input:focus , .form textarea:focus{
    outline: none;
}

.form button{
    display: block;
    width: 90px;
    border: none;
    background-color: white;
    font-weight: 100;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0px 6px 30px rgb(221, 220, 220);
    transition: all 0.5s linear;
}

.form button:hover{
    box-shadow: 0px 6px 30px rgb(175, 172, 172);
}

/* End Design Contact Us Section */

/* Start Deisign Footer Section */
footer{
    background-color: rgb(148, 147, 147);
}

footer h1{
    color: rgb(31, 29, 29);
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

footer ul{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

footer ul li{
    list-style: none;
    display: inline-block;
    font-size: 40px;
    color: rgb(31, 29, 29);
    transition: all 0.5s ease;
}

footer ul li:hover{
    transform: translate(0px,-10px);
    color: rgb(241, 241, 241)
}
/* End Design Footer Section */

/* Start Media Queriy */


@media only screen and (max-width: 545px){
    /* Design Welcome Section */
    header .container .row{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    header .container .row .col{
        min-width: auto;
        width: 100%;
    }

    .welcome-text{
        order: -1;
    }

    /* End Design Welcome Section */

    /* Start Design Card Section */

    .product-section h1{
        text-align: center;
    }

    .card-container{
        justify-content: center;
    }    
    .card{
        min-width: 345px;
    }
    /* End Design Card Section */
}

@media only screen and (max-width: 770px){
    /* Start Design Card Section */
    .card-container{
        justify-content: center;
    }
    .card{
        width: 90%;
    }
    /* End Design Card Section */

    /* Start Design Feature Section */
    .feature .row{
        display: flex;
        flex-direction: column;
    }

    .for-img{
        order: -1;
        margin-bottom: 30px;
    }

    .feature-card{
        flex-direction: column;
        align-items: center;
    }

    .feature-card .feature-image{
        margin: 40px 0px;
    }

    .feature-details{
        text-align: center;
    }
    
    /* End Design Feature Section */

    /* Start Design Contact Section */
    .contact-us-row{
        display: flex;
        flex-direction: column;
    }

    .details{
        order: -1;
    }
    /* End Design Contact Section */
}